// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css?family=Lato:900&display=swap');

body {
	font-family: 'Lato', sans-serif;
}

p {
	font-family: sans-serif;
}

h1, h2, h3, .navbar-brand {
	text-transform: uppercase;
}

#main a {
	text-decoration: underline;
}

.btn-splot {
	display: block;
	width: 300px;
	border: 1px solid #000;
	background-color: $yellow;
	padding: 10px;
	margin: 20px auto 50px auto;
	border-radius: 0;
}

.btn-splot:hover{
	background-color: #efefef;
}

#main a.btn-splot {
	text-decoration: none;
}

.splot-description {
	margin: 20px 0 40px 0;
	font-size: 1.1em;
	line-height: 1.3em;
	padding: 0 20px;
}

.splot-screenshot{
	box-shadow:  3px 3px 7px 0 rgba(222,222,222,.4);
}

.splot-meta {
	margin-top: 40px;
	border-bottom: 5px solid $yellow;
	padding-bottom: 20px;
	margin-bottom: 20px;
	background-color: #efefef;
}
